<span><%= link_to blogpost.title, blogpost %></span>
	<br>
<span><%= blogpost.modified_at.strftime("Last edited on %m/%d/%Y at %I:%M%p")  %></span>
	<br><br>
<span><%= blogpost.content %></span>
	<br><br>
<%= render :partial => "rating", :locals => { :blogpost => blogpost } %>