$("#rating_success_<%=@blogpost.id %>").html('<span class="flash success"><%= escape_javascript(flash.delete(:success)) %></span>')
$("#average_rating_<%=@blogpost.id %>").text("<%=@blogpost.average_rating%>");
$(".flash.success").fadeOut(2000);
