$("#rating_notice_<%=@blogpost.id %>").html('<span class="flash notice"><%= escape_javascript(flash.delete(:notice)) %></span>')
$("#average_rating_<%=@blogpost.id %>").text("<%=@blogpost.average_rating%>");
$(".flash.notice").fadeOut(1000);
