.container {
  width: 710px;
}

body {
  background: #cbf76f;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

hr {
	margin: 0 0 1.2em;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

h3 {
	margin-bottom: 0px;
	margin-top: 10px;
}

section h1 {
  font-size: 200%;
}

ul {
    list-style-type: none;
}

/* Links */

a {
  color: #399200;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #399200;
}

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #399200;
}

nav ul li a:hover {
  text-decoration: underline;
}
