<header>
<nav class="round">
    <ul>
      	<li><%= link_to "All Posts",:controller => "blogposts", :action => "index" %> |</li>	
		<li><%= link_to "Create New Post",:controller => "blogposts", :action => "new" %></li>
	</ul>
  </nav>
<h1>BLOGGER</h1>
</header>